body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  p {
    padding-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }

  header {
    background-color: #0099ff;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
  }
  

  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  section p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  section button {
    background-color: #0099ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  } 

By: Abdelrahman Abdalla, Abdullah Tahir, Maher ElFarra, Muhammed Umar Bin Kashif